{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<script type="text/html" id="app-template">
    <div>
        <v-app id="inspire" mobile-breakpoint="sm">
            <jhMenu />
            <v-main class="d-flex flex-column" style="margin-top: 60px">
                <!-- 头部内容 >>>>>>>>>>>>> -->
                <div class="pageSecondBar d-flex px-8 align-center">
                    <div>
                        <div class="appTitle pt-3" style="font-size: 18px; font-weight: 700">{{ breadcrumbs[1].fullText }}
                            <!-- 帮助页按钮 -->
                            <v-icon @click="isHelpPageDrawerShow = true" small>mdi-help-circle-outline</v-icon>
                        </div>
                        <v-breadcrumbs class="pb-3 pt-0 pl-0" :items="breadcrumbs" divider="-"></v-breadcrumbs>
                    </div>
                </div>
                <!-- <<<<<<<<<<<<< 头部内容 -->

                <!-- 页面内容 >>>>>>>>>>>>> -->
                <div class="pageBodyContainer px-8" style="flex: 1;">
                    <!-- 页面主要内容 -->
                    <v-container class="fullScreen d-flex flex-column pa-xs-0 pa-0">
                        <v-card>
                            <file-browser :operation-option="operationOption"/>
                        </v-card>
                    </v-container>
                </div>
                <!-- <<<<<<<<<<<<< 页面内容 -->

                <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
                <v-navigation-drawer v-model="isHelpPageDrawerShow" fixed temporary right width="80%" class="elevation-24">
                    <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc?markdownPath#3.materialManagement.md`" width="100%"
                        height="100%"></iframe>
                    <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
                        @click="isHelpPageDrawerShow = false">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </v-navigation-drawer>
                <!-- <<<<<<<<<<<<< 帮助页抽屉 -->
            </v-main>
        </v-app>

        <jhToast />
        <jhMask />
        <jhConfirmDialog />
    </div>
</script>

<div id="app">
</div>


{% endblock %}

{% block vueScript %}

<!-- 加载页面组件 >>>>>>>>>>>>> -->
{% include 'common/fixedTableHeightV4.html' %}
{% include 'component/fileBrowser/FileBrowser.html' %}
<!-- <<<<<<<<<<<<< 加载页面组件 -->

<script type="module">
  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    data: () => ({
      breadcrumbs: window.breadcrumbs,
      isHelpPageDrawerShow: false,
      isMobile: window.innerWidth < 600,
      operationOption: { delete: true, copy: true, recycle: true, renameFile: true }
    }),
    watch: {},
    async created() {
    },
    mounted() { },
    methods: {
      async onPasteItem(fromPath, toFolder) {
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'materialManagement',
              actionId: 'moveFile',
              actionData: {
                fromPath, toFolder
              },
            }
          }
        });
        window.vtoast.success('<$ constantUiMap.btn.movedSuccess $>');
      }
    }
  })
</script>

<style scoped>
</style>
{% endblock %}