
#editorMdContainer pre {
    font-size: 14px !important;
}
#baseinfo_diff_body pre {
    font-size: 14px !important;
}
#baseinfo_diff_body .CodeMirror-merge {
    height: 100%;
}
#baseinfo_diff_body .CodeMirror-merge .CodeMirror {
    height: 100%;
}
#diff_body pre {
    font-size: 14px !important;
}
#diff_body .CodeMirror-merge {
    height: 100%;
}
#diff_body .CodeMirror-merge .CodeMirror {
    height: 100%;
}

.editormd-menu > li > a > .fa{
    font-size: 14px;
}

.cm-s-default .cm-header{
    color: #4caf50 !important;
}
.cm-s-default .cm-variable-2{
    color: #3F4254 !important;
}
.cm-s-default .cm-link{
    color: #1B5E20 !important;
}
.cm-s-default .cm-string{
    color: #607D8B !important;
}
.cm-s-default .cm-comment{
    color: #795548 !important;
}
.cm-s-default .cm-quote{
    color: #33691E !important;
}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type{
    color: #006064 !important;
}
.cm-s-default .cm-attribute, .cm-s-default .cm-def{
    color: #3F51B5 !important;
}